#register-box {
	width: 100%;
	height: 59%;
    margin-top:100px;
}

.container-box{
	padding: 0px;
}

#register-title {
	width: 100%;
	margin-bottom: 16px;
	text-align: center;
	font-size: 30px;
}

#register-form {
	width: 470px;
	height: 320px;
	margin: 0 auto;
	border: solid 1px #ddd;
	background: #FFF;
	text-align: center;
}

#login-form {
	width: 470px;
	height: 320px;
	margin: 0 auto;
	border: solid 1px #ddd;
	background: #FFF;
	text-align: center;
}

#register-input-name {
	margin: 0;
	padding: 0;
	width: 440px;
	height: 40px;
	position: relative;
	left: 20px;
	top: 20px;
	z-index: 0;
}

#register-input-pwd {
	margin: 0;
	padding: 0;
	width: 440px;
	height: 40px;
	position: relative;
	left: 20px;
	top: 40px;
	z-index: 0;
}

#register-input-twicepwd {
	margin: 0;
	padding: 0;
	width: 440px;
	height: 40px;
	position: relative;
	left: 20px;
	top: 60px;
	z-index: 0;
}

#register-input-code {
	margin: 0;
	padding: 0;
	width: 440px;
	height: 40px;
	position: relative;
	left: 20px;
	top: 80px;
	z-index: 0;
}

#register-input-code img {
	height: 50px;
	width: 125px;
	position: absolute;
	left: 320px;
	bottom: 1px;
}

.username {
	background-color: #DDDDDD;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}

.ipusername {
	position: absolute;
	left: 170px;
	top: 0;
	height: 40px;
	line-height: 40px;
	width: 250px;
	font-size: 20px;
}

.icode {
	position: absolute;
	left: 170px;
	top: 0;
	height: 40px;
	line-height: 40px;
	width: 150px;
	font-size: 20px;
}

.pwd {
	background-color: #DDDDDD;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}

.twicepwd {
	background-color: #DDDDDD;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}

.register-code {
	background-color: #DDDDDD;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}

.login-button {
	margin-left: -280px;
	margin-top: -30px;
	color: #008CBA;
	font-size: 18px;
}

.login-button a {
	text-decoration: none;
	cursor: pointer;
}

.register-submit {
	margin-top: 100px;
	margin-left: 30px;
	background-color: #008CBA;
	color: white;
	font-size: 20px;
	width: 120px;
	height: 40px;
	line-height: 10px;
	padding: 14px;
	text-decoration: none;
	border-radius: 10%;
}

#login-register {
	float: left;
	margin-top: 100px;
	margin-left: 20%;
}

.login-submit {
	margin-left: 10px;
	background-color: #008CBA;
	color: white;
	font-size: 20px;
	width: 120px;
	height: 40px;
	line-height: 10px;
	padding: 14px;
	text-decoration: none;
	border-radius: 10%;
}

.register-submit:hover {
	background-color: #7A991A;
}

.login-submit:hover {
	background-color: #7A991A;
}

.register-button {
	margin-right: 10px;
	background-color: #008CBA;
	color: white;
	font-size: 20px;
	width: 120px;
	height: 40px;
	line-height: 10px;
	padding: 14px;
	text-decoration: none;
	border-radius: 10%;
}

.register-button:hover {
	background-color: #7A991A;
}

.validation-message {
	position: relative;
	left: 290px;
	top: -40px;
	padding: 10px;
	height: 40px;
	width: 160px;
	line-height: 40px;
	text-align: center;
	display: none;
	font-size: 15px;
	color: #F00;
}

.validation-message-success{
	display: inline;
	font-size: 16px;
}
.validation-message-backend {
	position: relative;
	left: 285px;
	top: -40px;
	padding: 10px;
	height: 40px;
	width: 160px;
	line-height: 40px;
	text-align: center;
	display: inline;
	font-size: 15px;
	color: #F00;
}